scopeName: 'source.fudomo'
name: 'Fudomo'
fileTypes: [ # file extensions
  'fudomo'
]

patterns: [
  {
    match: '#.*\\n',
    name: 'comment.line.fudomo'
  },
  {
    # decomposition type
    match: '([a-zA-Z][a-zA-Z0-9]*)\.([a-zA-Z][a-zA-Z0-9]*):'
    captures:
      0:
        name: 'entity.name.section.decomposition.fudomo'
      1:
        name: 'storage.type.decomposition.fudomo'
      2:
        name: 'entity.name.function.decomposition.fudomo'
  },
  {
    # forward link
    match: '([a-zA-Z][a-zA-Z0-9]*)\\s*->\\s*([a-zA-Z][a-zA-Z0-9]*)\.([a-zA-Z][a-zA-Z0-9]*)'
    name: 'entity.name.forward-link.fudomo'
    captures:
      1:
        name: 'variable.other.forward-link.fudomo'
      2:
        name: 'storage.type.forward-link.fudomo'
      3:
        name: 'variable.other.forward-link.fudomo'
  },
  {
    # reverse link
    match: '([a-zA-Z][a-zA-Z0-9]*)\\s*<-\\s*([a-zA-Z][a-zA-Z0-9]*)\.([a-zA-Z][a-zA-Z0-9]*)'
    name: 'entity.name.reverse-link.fudomo'
    captures:
      1:
        name: 'variable.other.reverse-link.fudomo'
      2:
        name: 'storage.type.reverse-link.fudomo'
      3:
        name: 'variable.other.reverse-link.fudomo'
  },
  {
    # local link
    match: '[a-zA-Z][a-zA-Z0-9]*'
    name: 'variable.other.local-link.fudomo'
  }
]
